<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFsZAPRUAQ8H_AywSOiUOU5LPj-MxOu_k</string>
	<key>GCM_SENDER_ID</key>
	<string>242712994832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thrift2landlord</string>
	<key>PROJECT_ID</key>
	<string>thrift2landlord-5be51</string>
	<key>STORAGE_BUCKET</key>
	<string>thrift2landlord-5be51.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242712994832:ios:ce503967d8110b665a5695</string>
	<key>DATABASE_URL</key>
	<string>https://thrift2landlord-5be51-default-rtdb.firebaseio.com</string>
</dict>
</plist>